/* Grid   https://codepen.io/taniarascia/pen/rOLEGe */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}
.row-seperator {
  min-height: 3rem;
}

.column {
  flex-basis: 100%;
  padding: 0;
  margin: 0;
  flex: 1;
}

.span2 {
  flex: 2;
}
.span3 {
  flex: 3;
}
.span4 {
  flex: 4;
}

@media screen and (max-width: 480px) {
  .row {
    flex: 1;
    flex-direction: column;
  }
}
