/* Grid   https://codepen.io/taniarascia/pen/rOLEGe */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}
