[data-btn-type] {
  margin: 1rem;
  padding: 0.3rem 0.7rem;
}

[data-btn-type='ghost'] {
  background-color: transparent;
  border: 1px solid currentColor;
}

[data-btn-type='primary'] {
  background-color: var(--primary);
  color: #fff;
}

[data-btn-type='secondary'] {
  background-color: var(--secondary);
  color: #fff;
}

[data-btn-size='small'] {
  font-size: 0.8rem;
}

[data-btn-size='medium'] {
  font-size: 1.2rem;
}

[data-btn-size='large'] {
  font-size: 1.6rem;
}
