:root {
  --scale: 10px;
  --primary: #18bae2;
  --secondary: #19c4ac;
  --black: #333;
  --white: #fefefe;
  font-size: var(--scale);
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: var(--scale);
  margin: var(--scale);
  background-color: #fff;
  color: var(--black);
}

.menu {
  display: flex;
}
.menu-item {
  padding: 0.25rem 1rem;
  border: 1px solid #ddd;
  margin: 0.5rem;
  background-color: #eee;
}

[data-btn-type] {
  margin: 1rem;
}

[data-btn-type='ghost'] {
  background-color: transparent;
  border: 1px solid currentColor;
}

[data-btn-type='primary'] {
  background-color: var(--primary);
  color: #fff;
}

[data-btn-type='secondary'] {
  background-color: var(--secondary);
  color: #fff;
}

[data-btn-size='small'] {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

[data-btn-size='medium'] {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
}

[data-btn-size='large'] {
  padding: 1rem 3rem;
  font-size: 1.8rem;
}
