:root {
  --scale: 10px;
  --primary: #18bae2;
  --secondary: #19c4ac;
  --black: #333;
  --white: #fefefe;
  font-size: var(--scale);
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: var(--scale);
  margin: var(--scale);
  background-color: var(--white);
  color: var(--black);
}

.menu {
  display: flex;
}
.menu-item {
  padding: 0.25rem 1rem;
  border: 1px solid #ddd;
  margin: 0.5rem;
  background-color: #eee;
}
.list-item {
  padding: 0.25rem 1rem;
  border: 1px solid #ddd;
  margin: 0.5rem;
}
